PORT=4000
MONGO_URI=your_mongodb_connection_string
SALT_ROUNDS=10
JWT_SECRET=your_jwt_strong_secret_key
FRONTEND_URL=http://localhost:3000

REFRESH_TOKEN_VALIDITY=1d
ACCESS_TOKEN_VALIDITY=15m
REFRESH_COOKIES_VALIDITY=1  # In Days
ACCESS_COOKIES_VALIDITY=15  # In Minutes

NODE_ENV=production
ENCRYPTION_KEY=9f8e7d6c5b4a39281726354455667788
